.title {
  display: flex;
  justify-content: center;
}

.left-container {
  border-right: 1px solid rgb(0, 0, 0);
  height: 100vh;
}

.left-container div {
  margin: 40px;
}
.search-input {
  margin-top: 40px;
}

.search-btn {
  margin-top: 40px;
}

.name-area {
  max-width: 90%;
}

.phone-area {
  max-width: 90%;
}

.search-btn {
}

.human-img {
  width: 100%;
}

.privacy div {
  margin: 3%;
}

.privacy-name {
  border-bottom: 2px solid rgb(219, 197, 69);
  width: 15%;
}

.privacy-number{
  border-bottom: 2px solid rgb(219, 197, 69);
  width: 25%;
  
}

.privacy-row {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
